[Unit]
Description=superautodota

[Service]
WorkingDirectory=/var/superautodota
ExecStart=/var/superautodota/sad_server

[Install]
WantedBy=multi-user.target
